img#logo {
  width: 60%;
}

.fixed-top {
  position : unset;
};

.jumboContainer {
  // position: relative;
  overflow: hidden;
  height: 200px;
  background-color: #f8dee3;
}

.jumboContainer .row {
  // width: 100%;
  height: 200px;
  // background-color: blue;
  overflow: hidden;
}

.jumbotron {
  // width: auto;
  height: 200px;
  display: flex;
  // justify-content: flex-start;
  // align-items: center;
  overflow: hidden;
  // background: url("../images/cameraWithPinkBg.webp") no-repeat fixed;
  // background-size: cover;
  // background-position: -155px -214px;
  // margin-top: 20px;
  // &__img {
    // object-fit: cover;
    // object-position: -2.3rem -5.5rem;
    // justify-content: space-around;
    // align-items: center;
  
  &__title {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
  }
}
.container__title{
  display: flex;
  align-items: center;
  width: 35%;
  // height: 200px;

}

.container__img {
  width: 50%;
  display: flex;
  object-fit: cover;
}

/* Cart page */
.products-mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin-top: 80px;
  padding-bottom: 100px;
}

.products-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  #removeAll,
  .fas.fa-times-circle {
    display: flex;
    align-items: center;
    color: blue;
    cursor: pointer;
    margin-left: -15px;
  }

  .fas.fa-chevron-circle-left,
  .fas.fa-chevron-circle-right {
    color: blue;
    cursor: pointer;
  }

.cartItems {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.listContainer {
  border-bottom: 2px solid lightgrey;
}
.products {
  &__header { 
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid lightgrey;
  font-weight: bold;
}
  // &__title {
  // width: 45%;
  // } 
  &__price {
  display: flex;
  margin-right: 15px;
  }
  &__total {
  display: flex;
  }
  &__quantity {
  display: flex;
  }
  &__list {
    display: flex;
  }
}
  
  .itemImg {
    width: 12%;
    object-fit: cover;
    margin-left: -15px;
    @include small-mobile {
      margin-left: 5px;
    }
  }

  .imgName {
    @include small-mobile {
      width: 40px;
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.quantityInput {
  font-size: 10px;
  @include small-mobile {
    width: 30px;
    text-align: center;
  }
}

#cartTotalAmountDiv {
  border-bottom: 4px solid lightgrey;
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

/********************FORM*******************/

.container__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

form {
  margin-top: 15px;
  margin-bottom: 20px;
  padding : 15px;
  display : flex;
  flex-direction: column;
  border: 2px dashed #f8dee3;
}

.form-title {
  margin-top: 20px;
  font-size: 1.3rem;
  text-align: center;
}

footer {
  position: absolute;
  width: 100%;
  @include small-mobile {
    font-size: 0.875rem;
  }
}

