
img#logo {
  width: 60%;
}

.fixed-top {
  position : unset;
};

header { 
  position: relative;
}

.confirmation {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  font-size: 1.8rem;
  @include small-mobile {
    font-size: 1.1rem;
  }
  }
  &__details {
    font-size: 1.3rem;
    font-family: bold;
    border-bottom: 2px dashed #f8dee3;
  }
  span {
    font-weight: bold;
  }
} 

.thanks {
  border-bottom: dashed 2px #f8dee3;
}

.bold {
  font-weight: bold;
}
  

footer {
  position: absolute;
  width: 100%;
  @include small-mobile {
    font-size: 0.875rem;
  }
}

@media screen and (min-height: 766px) {
  footer {
  &.bottom {
      position: absolute;
      bottom: 0;
    }
  }
}