body {
  background: url("../images/photosPatschwork.webp  ") no-repeat fixed;
  background-size: cover;
  // background-color: #ebebeb;
  background-position: center ;
  // @include small-mobile{
    // background-position: center -2rem ;
  // }
  // @include mobile {
  //   background-position: -0.3rem -3rem;
  // }
  // @include tablette {
  //   background-position: -0.3rem -3rem;
  // }
  // @include desktop {
  //   background-position: 10rem -3rem;
  // }
  // @include big-desktop {
  //   background-position: 15rem -3rem;
  // }
}

img#logo {
  width: 60%;
}

.fixed-top
/*.fixed-bottom*/ {
  position : unset;
};

header { 
  position: relative;
}

#cameraId {
  display: block;
  margin-top: 15px;
}

.row {
  justify-content: start;
  margin-left: 20px;
  @include small-mobile {
    // justify-content: center;
    margin-left: 0;
  }
}

.list {
  @include cards;
}

.containerChoice {
  flex-direction: column;
  align-items: baseline;
  display: inline-block;
  // justify-content: space-around;
  // @include small-mobile {
  //   justify-content: start;
  // }
}

select#selectOptions {
  margin-top: 7px !important;
}

.lenses {
  display: inline-block;
}

input,
select {
  line-height: normal !important;
  font-size: 1.1rem;
}

button.shopping-bag.btn.btn-primary {
  margin-top: 35px;
}

 footer {
  position: absolute;
  width: 100%;
  @include small-mobile {
    font-size: 0.875rem;
  }
}

